openapi: 3.0.4
info:
  title: Project & Task Management API
  version: 1.0.0
  description: API для управления проектами и задачами

servers:
  - url: https://api.project.managment.org/v1

components:
  schemas:
    Project:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        createdAt:
          type: string
          format: date-time

    Task:
      type: object
      required: [id, projectId, title, status]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        status:
          type: string
          enum: [open, in_progress, done]
        assigneeId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    User:
      type: object
      required: [id, username, email]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
          maxLength: 50
        email:
          type: string
          format: email

    Comment:
      type: object
      required: [id, taskId, authorId, text]
      properties:
        id:
          type: string
          format: uuid
        taskId:
          type: string
          format: uuid
        authorId:
          type: string
          format: uuid
        text:
          type: string
          maxLength: 500
        createdAt:
          type: string
          format: date-time

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: integer
        message:
          type: string

paths:
  /projects:
    post:
      summary: Создание проекта
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Проект создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/tasks:
    post:
      summary: Добавление задачи в проект
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Задача создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Проект не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tasks/{taskId}/assign:
    patch:
      summary: Назначение задачи пользователю
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Задача назначена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Задача или пользователь не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tasks/{taskId}/status:
    patch:
      summary: Изменение статуса задачи
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, in_progress, done]
      responses:
        '200':
          description: Статус изменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Некорректный статус
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tasks/{taskId}/comments:
    post:
      summary: Добавление комментария к задаче
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
      responses:
        '201':
          description: Комментарий добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Задача не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tasks:
    get:
      summary: Фильтрация задач по статусу и исполнителю
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [open, in_progress, done]
        - name: assigneeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Список задач
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'

  /reports/completion:
    get:
      summary: Отчёт по выполнению задач
      responses:
        '200':
          description: Отчёт сформирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalTasks:
                    type: integer
                  completedTasks:
                    type: integer
                  completionRate:
                    type: number
                    format: float
        '500':
          description: Ошибка генерации отчёта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
